.content{font-size:1.1em!important}
.content p + ul,.content p + blockquote{margin-top:-.8em}
.sticker .content h1{font-size:1.6em;margin:.4em 0}
.sticker .content h2{font-size:1.4em}
.sticker .content h3{font-size:1.2em}
.sticker .content a,.sticker a{color:#A71500;text-decoration:underline}
.sticker .content form{margin:0;padding:0}
blockquote > :first-child::before{content:"";margin-left:0;padding-right:0}
a{text-decoration:none}
.syntaxhighlighter .code,code{font-family:Consolas,Monaco,"Courier New",mono-space,monospace!important}
.content .syntaxhighlighter table,.content .syntaxhighlighter td{border-width:0}
.content .syntaxhighlighter table{margin-bottom:0}
.syntaxhighlighter{overflow-x:auto;margin-bottom:1.8em;margin-right:35px;-moz-border-radius:.5em;-webkit-border-radius:.5em;border-radius:.5em}
.syntaxhighlighter .line{white-space:pre!important;line-height:1.2em}
.syntaxhighlighter code{white-space:pre!important}
.syntaxhighlighter.ie{overflow-y:hidden}
li ul,li ol{margin-bottom:1em!important}
.content blockquote{padding:1em;background-color:#fec;margin-bottom:1em;color:inherit}
.content blockquote p:last-child{margin-bottom:0}
.center{text-align:center}
.left{text-align:left}
.right{text-align:right}
.justify{text-align:justify}
.floatLeft{float:left!important}
.floatRight{float:right!important}
.floatNone{float:none!important}
.clear{clear:both}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
.relative{position:relative!important}
.absolute{position:absolute}
.inline{display:inline}
.cursor{cursor:pointer}
ul.tickIcons li{list-style-type:none;background-image:url(../img/checkIcon.gif);background-repeat:no-repeat;background-position:0 6px;margin-left:-.5em;padding-left:2em;line-height:2em;margin-bottom:.3em}
li p.smallprint{margin-top:-.25em;line-height:1.4em;font-size:.9em;margin-bottom:.9em;font-style:italic;color:#444}
ul.stickerList li{margin:.5em 0 .9em}
ul.stickerList li p.smallprint{margin-top:.1em}
.logo-doc{float:left}
.logo-doc img{width:195px;border:0}
#wrapper{margin:0 auto;width:982px}
html{background:#CF5300 url(../img/main-background.jpg) no-repeat top center}
body{font-family:arial;font-size:14px}
.sticker{background-color:#fff;padding:1.25em 1.45em 1.25em 1.55em;margin:.5em 0 3em;-moz-border-radius:1em;-webkit-border-radius:1em;border-radius:1em;opacity:.9;-moz-box-shadow:0 0 1.1em #666;-webkit-box-shadow:0 0 1.1em #666;box-shadow:0 0 1.1em #666}
.documentation.sticker,.example.sticker{-webkit-box-shadow:none}
.sticker .heading,.sticker h1{color:#A71500;margin:.25em 0;font-weight:700;font-size:1.2em}
.stickerHeading{background-color:#e5dad6;height:1.3em;margin:-2em -1.45em 1.25em -1.55em;padding:.7em 1em 1.1em 1.75em;-moz-border-radius-topright:1em;-moz-border-radius-topleft:1em;-webkit-border-top-right-radius:1em;-webkit-border-top-left-radius:1em;border-top-right-radius:1em;border-top-left-radius:1em}
.engraved{color:#350808;text-shadow:rgba(253,204,197,0.4) 1px 1px 0}
.vspace{height:2em}
.vspace-small{height:1.25em}
.liveExample{padding:1em;background-color:#EED;border:1px solid #CCC;max-width:655px}
.liveExample input{font-family:Arial}
.liveExample b{font-weight:700}
.liveExample p{margin-top:.9em;margin-bottom:.9em}
.liveExample select[multiple]{width:100%;height:8em}
.liveExample h2{margin-top:.4em}
.main-menu{display:table;float:right;margin:1em 0 .5em;font-size:14px;font-weight:700}
.main-menu ul li{display:inline}
.main-menu ul li a{display:inline-block;padding:.4em 1.5em;text-decoration:none;-moz-border-radius:.5em;-webkit-border-radius:.5em;border-radius:.5em}
.main-menu ul li a,.main-menu ul li a:visited{color:#fff}
.main-menu ul li a.active,.main-menu ul li a:hover{background-color:#511d00}
#introBadges li{width:215px;float:left;text-align:center;padding:0 .5em;color:#555;margin-bottom:.5em}
#slogan{float:right;width:20em;padding-left:1.4em;background:url(../img/vertical-bar.png) no-repeat;font-size:20px;margin-bottom:.6em;text-align:center}
#slogan .download-button{margin:.6em 0 .2em}
.download-button{background:url(../img/download-button-bg.png);width:100%;height:51px;display:block;text-decoration:none!important;text-align:left}
.download-button p{color:#050;font-size:17px;padding:10px 0 0 9px;margin:0}
.download-button p.smallprint{font-size:12px;padding:.1em 0 0 11px}
.download-button:hover p{text-decoration:underline}
.download-widget{width:173px;display:inline-block;margin:auto;padding:0 8px}
.download-widget a.download-info{display:block;text-align:center;font-size:.7em;color:#fe9}
.download-widget a.download-info:hover{text-decoration:underline}
.download-panel{background-color:#e82;padding:8px 0 6px;border-radius:8px;margin-top:-20px;text-align:center}
.download-panel .download-button{padding-top:3px;background-repeat:no-repeat;margin:.1em 0}
.download-panel .download-button p{padding-top:3px}
.download-panel a.download-info{color:#ffd;line-height:1em;margin-top:.2em;text-decoration:none;font-size:.9em}
.download-debug-panel{font-size:.85em;margin:1em;line-height:1.3em;color:gray}
div.leftCol{position:absolute;width:16em;padding-top:1em}
div.rightCol{margin-left:16em}
div.rightCol .sticker{min-height:150em}
div.leftColContents{width:15em;padding:1em}
div.leftColBackground{background-color:#000;opacity:.5;position:absolute;width:16em;height:100%;z-index:-1;-moz-border-radius-topleft:1em;-moz-border-radius-bottomleft:1em;-webkit-border-top-left-radius:1em;-webkit-border-bottom-left-radius:1em;border-top-left-radius:1em;border-bottom-left-radius:1em}
div.leftCol h1{font-size:1.2em;margin:1.5em 0 .75em}
div.leftCol h1:first-child{margin-top:.5em}
div.leftCol h2{font-size:1em;font-weight:700;margin-bottom:.4em;margin-left:.25em}
div.leftCol,div.leftCol a,div.leftCol code{color:#FED}
div.leftCol a:hover,div.leftCol a:hover code{color:#ff0}
div.leftCol ul li{list-style-type:disc}
div.leftCol li small{display:block;color:silver;margin-bottom:1em;line-height:1.3em}
div.leftCol ol,div.leftCol ul{margin:0 0 1em 1.6em;line-height:1.5em}
div.leftCol ol code,div.leftCol ul code{font-weight:700}
div.leftCol li.active,div.leftCol li.active a,div.leftCol li.active code,div.leftCol li.active small{color:orange;font-weight:700}
.homepageExample h2{margin:.75em 0 .5em}
.homepageExample .liveExample{padding:.5em 1em .5em 1.3em}
.homepageExample .liveExample button{padding:.2em .6em;margin-left:.5em}
.homepageExample p{margin:1.3em 0 .8em}
.documentation > .content{min-height:1750px}
#page-footer{padding:15px;text-align:right}