<h1>Começando</h1>

<ol>
    <li><a href="{{ page.pathprefix }}documentation/introduction.html">Como KO funciona e quais os benefícios</a></li>
    <li><a href="{{ page.pathprefix }}downloads/index.html">Download e instalação</a></li>
</ol>

<h1>Observables</h1>

<ol>
    <li><a href="{{ page.pathprefix }}documentation/observables.html">Criando <em>view models</em> com <em>observables</em></a></li>
    <li><a href="{{ page.pathprefix }}documentation/observableArrays.html">Trabalhando com <em>observable arrays</em></a></li>	
</ol>

<h2>Computed observables</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/computedObservables.html">Usando <em>computed observables</em></a></li>
    <li><a href="{{ page.pathprefix }}documentation/computed-writable.html"><em>Writable</em> computed observables</a></li>
    <li><a href="{{ page.pathprefix }}documentation/computed-dependency-tracking.html">Como dependency tracking funciona</a></li>
    <li><a href="{{ page.pathprefix }}documentation/computed-pure.html"><em>Pure</em> computed observables</a></li>
    <li><a href="{{ page.pathprefix }}documentation/computed-reference.html">Referência</a></li>
</ol>

<h1>Bindings</h1>

<h2>Controlando texto e aparência</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/visible-binding.html">O binding <code>visible</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/text-binding.html">O binding <code>text</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/html-binding.html">O binding <code>html</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/css-binding.html">O binding <code>css</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/style-binding.html">O binding <code>style</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/attr-binding.html">O binding <code>attr</code></a></li>
</ol>

<h2>Fluxo de controle</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/foreach-binding.html">O binding <code>foreach</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/if-binding.html">O binding <code>if</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/ifnot-binding.html">O binding <code>ifnot</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/with-binding.html">O binding <code>with</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/component-binding.html">O binding <code>component</code></a></li>
</ol>

<h2>Trabalhando com campos de formulários</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/click-binding.html">O binding <code>click</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/event-binding.html">O binding <code>event</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/submit-binding.html">O binding <code>submit</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/enable-binding.html">O binding <code>enable</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/disable-binding.html">O binding <code>disable</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/value-binding.html">O binding <code>value</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/textinput-binding.html">O binding <code>textInput</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/hasfocus-binding.html">O binding <code>hasFocus</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/checked-binding.html">O binding <code>checked</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/options-binding.html">O binding <code>options</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/selectedOptions-binding.html">O binding <code>selectedOptions</code></a></li>    
    <li><a href="{{ page.pathprefix }}documentation/uniqueName-binding.html">O binding <code>uniqueName</code></a></li>		
</ol>

<h2>Rendering templates</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/template-binding.html">O binding <code>template</code></a></li>
</ol>

<h2>Sintaxe binding</h2>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/binding-syntax.html">A sintaxe <code>data-bind</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/binding-context.html">O binding context</a></li>
</ol>

<h1>Criando bindings customizados</h1>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/custom-bindings.html">Criando bindings customizados</a></li>
    <li><a href="{{ page.pathprefix }}documentation/custom-bindings-controlling-descendant-bindings.html">Controlando bindings descendentes</a></li>
    <li><a href="{{ page.pathprefix }}documentation/custom-bindings-for-virtual-elements.html">Suporte a elementos virtuais</a></li>
    <li><a href="{{ page.pathprefix }}documentation/custom-bindings-disposal.html">Custom disposal logic</a></li>
</ol>

<h1>Componentes</h1>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/component-overview.html">Visão geral: O que <em>components</em> e <em>custom elements</em> oferecem</a></li>
    <li><a href="{{ page.pathprefix }}documentation/component-registration.html">Definindo e registrando componentes</a></li>
    <li><a href="{{ page.pathprefix }}documentation/component-binding.html">O binding <code>component</code></a></li>
    <li><a href="{{ page.pathprefix }}documentation/component-custom-elements.html">Usando elementos customizados</a></li>
    <li><a href="{{ page.pathprefix }}documentation/component-loaders.html">Avançado: Componentes loaders customizados</a></li>
</ol>

<h1>Outras técnicas</h1>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/json-data.html">Carregando e Salvando JSON</a></li>
    <li><a href="{{ page.pathprefix }}documentation/extenders.html">Extending observables</a></li>
    <li><a href="{{ page.pathprefix }}documentation/rateLimit-observable.html">Rate-limiting observables</a></li>
    <li><a href="{{ page.pathprefix }}documentation/unobtrusive-event-handling.html">Manipulação de eventos unobtrusive</a></li>
    <li><a href="{{ page.pathprefix }}documentation/fn.html">Usando <code>fn</code> para adicionar funções customizadas</a></li>
    <li><a href="{{ page.pathprefix }}documentation/binding-preprocessing.html">Estendendo a sintaxe de binding do Knockout</a></li>
</ol>

<h1>Plugins</h1>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/plugins-mapping.html">O plugin <code>mapping</code></a></li>
</ol>

<h1>More information</h1>
<ol>
    <li><a href="{{ page.pathprefix }}documentation/browser-support.html">Suporte aos navegadores</a></li>
    <li><a href="http://groups.google.com/group/knockoutjs">Como obter ajuda</a></li>
    <li><a href="{{ page.pathprefix }}documentation/links.html">Links para tutoriais &amp; exemplos</a></li>
    <li><a href="{{ page.pathprefix }}documentation/amd-loading.html">Uso com AMD usando RequireJs (Asynchronous Module Definition)</a></li>
</ol>
